<?xml version="1.0" encoding="UTF-8"?>


<!-- xmlns:spring="http://www.springframework.org/schema/beans" -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="orderHeader" scope="prototype" class="com.mjd.erp.order.Header">
        <property name="requestGuid" value="8586"/>
    </bean>
    <!-- <bean id="kitchenService" class="com.foo.KitchenService"/>  -->
    
</beans>